.about-section p {
    font-size: 70px;
    line-height: 1.12;
}

@media (max-width: 900px) {
    .about-section p {
        font-size: 50px;
    }
}

@media (max-width: 600px) {
    .about-section p {
        font-size: 30px;
    }
}