@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

.section-header {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color: #626262;
}