* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* cursor: none; */
  background-color: #f5f0ec;
}

.main-container {
  padding: 0 5vw;
}

section {
  padding: 100px 0;
}

section .section-header {
  margin-bottom: 50px;
}