* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  cursor: none;
  background-color: #f5f0ec;
}

.main-container {
  padding: 0 5vw;
}

section {
  padding: 100px 0;
}

section .section-header {
  margin-bottom: 50px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191919;
  color: #dbd8d6;
}

.loader-wrapper h1 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: 'Bai Jumjuree', sans-serif;
  font-weight: 600;
}

.loader-wrapper h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: 'Bodoni Moda', serif;
  font-style: italic;
  margin-top: 10px;
}

.loader-wrapper.absolute {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 1;
}